/* src/styles.css */

@font-face {
    font-family: 'helvetica-now-medium';
    src: url('/src/assets/fonts/helvetica-now-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  /* Optionally set the default font for the whole application */
  @layer base {
    html {
      font-family: 'helvetica-now-medium', sans-serif;
    }
  }

  *{
    /* border: 1px solid red; */
  }
  